.trailers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 72vh;
  /* padding: 2rem; */
  /* margin-top: 4rem; */
  border-radius: var(--hard-radius);
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  margin-top: -1rem;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 7.2rem;
}

.exploreText {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  letter-spacing: 7px;
}