html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

:root {
  --font-color: #F55E4A;
  --soft-shadow: 0 4px 8px rgba(0, 0, 0, 0.22);
  --desc-color: rgb(85, 85, 85);
  --soft-radius: 0.25rem;
  --hard-radius: 0.5rem;
  --round-radius: 2rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--font-color) !important;
}

.swiper-pagination-bullet {
  background-color: var(--desc-color) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--font-color) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.pinkSpan {
  color: var(--font-color);
}

.content {
  padding: 0 1rem;
  margin-top: 5rem; /* Adjusted to account for fixed navbar */
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}